@charset "UTF-8";

$white: #ffffff;
$black: #000;

$labelText: #333333;
$baseTextColor: #666666;
$tipTextColor: #999999;
$textDisabled: #D8D8D8;

$borderColor: #e3e4e5;
$lineBorderColor: #e0e0e0;

$titleBgColor: #F2F2F2;
$contentBgColor: #f7f7f7;
$itemBgColor: #F8F8F8;
$statusBgColor: #f0f0f0;

// 颜色统一优化后的系统唯一辅助色（6种）
$sysSuccessColor: #1BC489;
$sysSuccessColor2: #8DE2C4;
$sysSuccessColor3: #E8F9F3;
$sysSuccessColor4: #F3FCF9;
$sysErrorColor: #F73838;
$sysErrorColor2: #FB9C9C;
$sysErrorColor3: #FEEBEB;
$sysErrorColor4: #FFF4F4;
$sysErrorBgColor: rgba(247,56,56,0.1);
$sysBaseOrange: #FF6D12; //基础橙色
$sysBaseOrange2: #FFB689;
$sysBaseOrange3: #FFF0E7;
$sysBaseOrange4: #FFF8F4;
$sysWarningColor: #FFAE11;
$sysWarningColor2: #FFD788;
$sysWarningColor3: #FFF7E7;
$sysWarningColor4: #FFFBF3;
$sysDisabledColor: #e3e4e5;
$maleColor: #16A0FF;
$maleColor2: #8BD0FF;
$maleColor3: #E8F6FF;
$maleColor4: #F2FAFF;
$femaleColor: #F0759A;
$femaleColor2: #F8BACD;
$femaleColor3: #FEF1F5;
$femaleColor4: #FFF8FA;
$purpleColor: #9676F8;
$purpleColor2: #CBBBFC;
$purpleColor3: #F5F1FE;
$purpleColor4: #FBF9FF;
